.container {
  h2 {
    text-transform: uppercase;
    font-size: 25px;
  }
  .nav {
    margin-top: 40px;
    a {
      display: inline-block;
      margin: 0 5px;
    }
    :first-child {
      border: 1px solid darkblue;
    }
  }
  .warning {
    margin-top: 10px;
    color: darkred;
  }
}
