.container {
  h2 {
    text-transform: uppercase;
    font-size: 25px;
  }
  .nav {
    margin-top: 40px;
    a {
      display: inline-block;
      margin: 0 5px;
      color: #222233;
      background-color: #e8d6c5;
      border: 1px solid #222233;
      font-weight: bold;
      font-size: 15px;
      text-transform: uppercase;
    }
  }
  .warning {
    margin-top: 10px;
    color: darkred;
  }
}
