<div class="container">
  <app-nav></app-nav>
  <h2>You can change your password here:</h2>
  <form [formGroup]="editPasswordForm" (ngSubmit)="editUserPassword(formDirective)" #formDirective="ngForm">
    <div class="form-group">
      <mat-form-field class="full-width">
        <input matInput type="password" formControlName="password" placeholder="Password" autocomplete="off">
      </mat-form-field>
      <mat-error *ngIf="formControls.password.invalid && (formControls.password.dirty || formControls.password.touched)">
        <mat-error *ngIf="formControls.password.errors.minlength">Password must be at least 5 characters long</mat-error>
      </mat-error>
    </div>
    <p class="editInfo">{{editInfo}}</p>
    <button mat-raised-button type="submit" [disabled]="!editPasswordForm.valid">Submit</button>
  </form>
</div>
